.DS_store
.project
.classpath
.settings
bin/
src/siat/courant/event/ParkEvent.java
src/siat/courant/event/Geo3in.java
src/siat/courant/event/Rfid3in.java
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/nbproject/private/
/build/